{
	email erdii.kuss@gmail.com
	auto_https off
}

http://erdikus.me, http://www.erdikus.me {
	encode gzip
	reverse_proxy site:3000
}

http://movie.erdikus.me {
	reverse_proxy movie:8501 {
		header_up X-Forwarded-Proto https
		header_up X-Forwarded-Host {host}
		flush_interval -1
	}
}

http://crm.erdikus.me {
	reverse_proxy crm:8501 {
		header_up X-Forwarded-Proto https
		header_up X-Forwarded-Host {host}
		flush_interval -1
	}
}

:80 {
	encode gzip
	reverse_proxy site:3000
}
